<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
</head>
<body>
<h1>User Information</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <td th:text="${users.id}"></td>
        <td th:text="${users.name}"></td>
        <td th:text="${users.email}"></td>
    </tr>
</table>
<a th:href="@{/edit(id=${users.id})}">Edit User</a>

<!--<form th:method="DELETE" th:action="@{/(id=${users.id})}"></form>-->
<!--<input type ="submit" value ="Delete"/>-->

<form th:method="DELETE" th:action="@{/(id=${users.id})}">
    <input type="submit" value="Delete" />
</form>

</form>




</body>
